

<%#=link_to "Buy", company_quotas_pat %>

<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-4 form-yolo mt-5">
      <h1>It's a page of quotas new!</h1>

      <p><strong> Name: </strong><%=@company.name%></p>
      <p><strong> Número de Cotas: </strong><%=@company.max_quotas%></p>
      <p><strong> Preço por cotas: </strong><%=@company.price_quotum%></p>
    </div>
  </div>
</div>