<h1>It's a page of quotas new!</h1>

<p><strong> Name: </strong><%=@company.name%></p>
<p><strong> Número de Cotas: </strong><%=@company.max_quotas%></p>
<p><strong> Preço por cotas: </strong><%=@company.price_quotum%></p>

<%#=link_to "Buy", company_quotas_pat %>
