<footer class="footer">
	<div class="container py-5">
		<div class="row py-4">
			<div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
				<h6 class="text-uppercase font-weight-bold mb-4">YOLO</h6>
				<ul class="list-unstyled mb-0">
					<li class="mb-2"><a link href="/about" class="text-dark  ">Sobre Nós</a></li>
					<li class="mb-2"><a href="#" class="text-dark">Relatórios</a></li>
					<li class="mb-2"><a href="#" class="text-dark">Carreiras</a></li>
					<li class="mb-2"><a href="#" class="text-dark"></a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
				<h6 class="text-uppercase font-weight-bold mb-4">Primeiros Passos</h6>
				<ul class="list-unstyled mb-0 text-decoration: none">
					<li class="mb-2"><a href="#" class="text-dark ">Comece a Investir </a></li>
					<li class="mb-2"><a href="#" class="text-dark">Projetos</a></li>
					<li class="mb-2"><a href="#" class="text-dark">Quero Captar</a></li>
					<li class="mb-2"><a href="#" class="text-dark">Login</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-6 mb-lg-0">
				<h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
				<p class="text-dark mb-4">Assine nosso relatório mensal e conheça um pouco mais sobre nossos Projetos.</p>
				<div class="p-1 rounded border">
					<div class="input-group">
						<input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
						<div class="input-group-append">
							<button id="button-addon1" type="submit" class="btn"><i class="fa fa-paper-plane"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <div class="container">
   <div class="footer-block information align-items: center">
      <div class="social">
        <img src="https://ck-content.imgix.net/res/content/bundles/homepage/2.4.19/assets/apple_app_store@2x.png" width="115  " height="auto" />
        <img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="150" height="auto" />
      </div>
    </div>
  </div>


	<div class="py-4">
		<div class="container text-center">
			<!-- Facebook -->
			<i class="fab fa-facebook-f"></i>
			<!-- Twitter -->
			<i class="fab fa-twitter"></i>
			<!-- Linkedin -->
			<i class="fab fa-linkedin-in"></i>
			<!-- Reddit -->
			<i class="fab fa-reddit-alien"></i>
			<!-- Whatsapp -->
			<i class="fab fa-whatsapp"></i>
				<p class="text-muted mb-0 py-2">© 2022 Yolo All rights reserved.</p>
		</div>
	</div>
</footer>
