<h1>It's a page of tokens new!</h1>

<p><strong> Name: </strong><%=@company.name%></p>
<p><strong> Número de Cotas: </strong><%=@company.max_tokens%></p>
<p><strong> Preço por cotas: </strong><%=@company.price_of_token%></p>

<%#=link_to "Buy", token_path(@token) %>
