<h1>INSIRA O NÚMERO DA SUA CARTEIRA DIGITAL</h1>

<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-4 form-yolo mt-5">
      <h1>It's page show of tokens!</h1>


      <h1>Parabéns pela aquisição!</h1>
      
      <%=current_user.name %>
      
      <%= link_to "Back Home", companies_path %>
    </div>
  </div>
</div>