<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-4 card-show-token mt-5">
      <h1><strong><%=@token.user.name.capitalize%></strong> seu Investimento na empresa <strong><%=@token.company.name.capitalize%></strong>
      foi realizado com sucesso!</h1>
      <%#= link_to "Back Home", companies_path %>
      <%=image_tag "le_sneakers.jpg"%>
      <%= link_to "My Wallet", wallet_path, class: "btn btn-show-token mt-4"%>
    </div>
  </div>
</div>
