
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-sm" href="#">Apply now</a>
  </div>
</div>


<div class="row d-flex justify-content-center mt-4">
  <!--div clas="d-flex col-sm align-content-center flex-wrap justify-content-center">
  </div-->
    <div class="title-text align-justify-center text-center">
      <h4 >Os mais investidos</h4>
    </div>
  <div class="card1 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
   <!--<img src="</images/gabriel.jpg>" class="card-img-top img-responsive" alt="..."-->
  <%= image_tag "celular.png", class:"card-img-top img-responsive"%>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-sm">Go somewhere</a>
    </div>
  </div>
  <div class="card-2 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
    <%= image_tag "celular.png", class:"card-img-top img-responsive"%>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn btn-sm">Go somewhere</a>
    </div>
  </div>
  <div class="card-3 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
    <%= image_tag "celular.png", class:"card-img-top img-responsive"%>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn btn-sm">Go somewhere</a>
    </div>
  </div>
</div>

</div>
</div>

<div class="row mt-4">
  <div class="home-text col-6 d-flex align-content-center flex-wrap justify-content-center">
        <h2>dfgsdfgsdfg</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sapiente velit expedita voluptatibus quae provident eius neque.</p>
        <a href="#" class="btn btn btn-sm">compre aqui</a>
  </div>
  <div class="home-image col-6 ">
    <%= image_tag "celular.png" %>
  </div>
</div>
