<div class="backgroud-index">
  <div>
    <div class="container" data-controller="company-card">
      <div style="width: 400px;", class="mx-auto mb-5 pt-3 form-index">
        <%= form_tag companies_path, method: :get, html: { class:
          'mb-4'  }, data: { company_card_target: 'form' } do %>
          <div class="input-group">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control rounded",
              placeholder: "Find a company",
              data: { company_card_target: 'input',
              action: 'keyup->company-card#update'}
            %>
            <%= submit_tag "Search", class: "btn btn-outline-find" %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 mt-4">
          <div class="card mb-2">
            <div class="sector">
              <p>Agronegócio</p>
              <div class="agro"><i class="fas fa-tractor"></i></div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="sector">
              <p>Comércio</p>
              <div class="com"><i class="fas fa-store"></i></div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="sector">
              <p>Financeiro</p>
              <div class="fin"><i class="fas fa-donate"></i></div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="sector">
              <p>Games</p>
              <div class="gam"><i class="fas fa-gamepad"></i></div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="sector">
              <p>Americanas</p>
              <div class="eua"><i class="fas fa-flag-usa"></i></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-9">
          <div class="row justify-content-center" data-company-card-target="cards">
            <%= render "cards", companies: @companies %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
