
<div class="container">
  <h1>Projects</h1>
  <div class="row">
    <div class="col">
      <% @companies.each do |company|%>
      <div class="card" style="width: 18rem;">
        <img src="images/yolo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title"><%= company.name %></h4>
          <p class="card-text"><%= company.description %></p>
          <%= link_to "Details", company_path(company) %>
        </div>
      </div>
      <% end %>
    </div>
    
  </div>
</div>
