<div class="backgroud-index">
  <div>
    <div class="container" data-controller="company-card">
      <div style="width: 400px;", class="mx-auto mb-5 pt-3 form-index">
        <%= form_tag companies_path, method: :get, html: { class:
          'mb-4'  }, data: { company_card_target: 'form' } do %>
          <div class="input-group">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control rounded",
              placeholder: "Find a company",
              data: { company_card_target: 'input',
              action: 'keyup->company-card#update'}
            %>
            <%= submit_tag "Search", class: "btn btn-outline-find" %>
          </div>
        <% end %>
      </div>

      <div class="row justify-content-center" data-company-card-target="cards">
        <%= render "cards", companies: @companies %>
      </div>
    </div>
  </div>
</div>
