
<div class="container">
  <div class="row justify-content-between">
    <% @companies.each do |company|%>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card m-4" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= company.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= company.activity %></h6>
            <p class="card-text"><%=company.description%></p>
            <%= link_to "Details", company_path(company) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
