<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-4 m-3">
      <div class="card-buy-token-emissao-primaria">
        <h1>Mercado secundário</h1>

        <%= simple_form_for @token, url: token_user_tokens_path(@token), method: :post do |f|%>
          <%=f.input :purchased_tokens, label: "Tokens"%>
          <%= f.submit "Comprar", class: 'btn btn-flat'%>
        <%end%>
      </div>
    </div>
  </div>
</div>
