.banner {
  background-size: cover;
  background-position: center center;
  padding: 160px ;
  width: 100%;
  height: 700px;
  overflow: hidden;
  font-family: Graphik;
  background-repeat: no-repeat;
  object-fit: contain;

  //margin-top: 73px;
  //width: 100%;
  //height: 425px;
  //background-size: cover;
  //background-position: center;
}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: Graphik;

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner_about {
  background-size: cover;
  background-position: center center;
  padding: 160px ;
  width: 100%;
  height: 700px;
  overflow: hidden;
  font-family: Graphik;
  background-repeat: no-repeat;
  object-fit: contain;
}

@keyframes changeWidth {
  0% {height: 0%;}
  5% {height: 5%;}
  10% {height: 10%;}
  15% {height: 15%;}
  20% {height: 20%;}
  25% {height: 25%;}
  30% {height: 30%;}
  35% {height: 35%;}
  40% {height: 40%;}
  45% {height: 45%;}
  50% {height: 50%;}
  55% {height: 55%;}
  60% {height: 60%;}
  65% {height: 65%;}
  70% {height: 70%;}
  75% {height: 75%;}
  80% {height: 80%;}
  85% {height: 85%;}
  90% {height: 90%;}
  95% {height: 95%;}
  100% {height: 100%}
}

.banner-company-info {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  position: absolute;
  animation-name: changeWidth;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
