.banner {
  background-size: center;
  background-position: center center;
  padding: 160px ;
  width: 100%;
  height: 200px;
  overflow: hidden;

  background-repeat: no-repeat;
  object-fit: contain;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner_about {
  background-size: cover;
  background-position: center center;
  padding: 160px ;
  width: 100%;
  height: 700px;
  overflow: hidden;
  font-family: Graphik;
  background-repeat: no-repeat;
  object-fit: contain;
}
