
.btn {
	background-color: #f4e237;
	border-color: none;
  border-radius: 12px;
  white-space: normal;
  font-size: 12px;
}

.btn-wallet {
  //background-color: #c5c4bb;
	border: 0;
  border-color: none;
  border-radius: 12px;
  font-size: 16px;
  padding: 5px 10px;
}

.btn-index {
text-decoration: none;
font-weight: bold;
}

.btn:hover{
  background-color: #d2c747;
}


.btn-show-token {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-space{
  margin-right: 15px;
}

.btn-outline-find {
  color: black;
  //border-color: #0D6EFD;
  border: 1px solid #ced4da;
  font-size: 14px;
  font-family: "Graphik";
}

.link-empresas-wallet {
  color: black;
}
