
.btn {
	background-color: #f4e237;
	border-color: none;
  border-radius: 12px
}

.btn:hover{
  background-color: #d2c747;
}

.btn-show-token {
  display: flex;
  justify-content: center;
  width: 100%;
}
