.card-img-top {
  height: 11vw;
  object-fit: cover;
}

.card-info-company {
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 4px 6px 0 #404040bd;
  background-color: white;
  position: relative;
  margin-top: 220px;
}

.card-buy-token-emissao-primaria{
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 4px 6px 0 #404040bd;
  background-color: white;

  h2 {
    text-align: center;
    padding-bottom: 10px;
  }
}

.card-buy-token-mercado-secundario{
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 4px 6px 0 #404040bd;
  background-color: white;

  h2 {
    text-align: center;
    padding-bottom: 10px;
  }
}

.card-buy-token-mercado-secundario-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .content-1 {
    display: inline-block;
    padding: .375rem 0;
  }
}

.rating-card-group {
  margin-top: 220px;
}

.rating-card {
  width: 250px;
  height: 100px;
  margin: 10px;
  border-radius: 8px;
  background-color: white;
  padding: 12px;
  box-shadow: 0 4px 6px 0 #555353cc;
  text-align: center;
  color: black;
  position: relative;

  p {
    font-size: 12px;
  }

  &:hover {
    box-shadow: 0 0px 8px 0 #fdec01f3;
  }
}

.rating-card-content {
  margin: 10px;
}

.card-show-token {
  background-color: #fff;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 6px 0 #555353cc;
}
.card-container{
  align-items: center;
  margin-left: 100px;
}

.card {
  border-radius: 8px;
}

.card-wallet {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.card-wallet-content {
  position: ralative;
  border-radius: 12px;
  width: 300px;
  height: 100px;
  text-align: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0 1px 7px 0 #555353cc;

  .card-wallet-mark {
    position: absolute;
    top: 110px;
    left: 480px;
    width: 60px;
    height: 10px;
    background-color:  #fdec01f3;
    border-radius: 2px;
  }
}
