.card-img-top {
  height: 11vw;
  object-fit: cover;
}

.card-info-company {
  border-radius: 8px;
  //padding: 12px;
  box-shadow: 0 1px 9px 0 #404040bd;
  background-color: white;
  position: relative;
  margin-top: 0px;
  padding: 24px;
  //display: grid;
  grid-row-gap: 20px;
  //width: 400px;
}
  h1{
    font-size: 16px;
  }



.card-buy-token-emissao-primaria{
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  //box-shadow: 0 4px 6px 0 #404040bd;
  background-color: white;

  h2 {
    text-align: center;
    padding-bottom: 10px;
  }
}

.card-buy-token-mercado-secundario{
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  //box-shadow: 0 4px 6px 0 #404040bd;
  background-color: white;

  h2 {
    text-align: center;
    padding-bottom: 10px;
  }
}

.card-sell-token-mercado-secundario{
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 4px 6px 0 #404040bd;
  background-color: white;

  h1 {
    text-align: center;
    padding-bottom: 10px;
  }

  h2 {
    text-align: center;
    padding-bottom: 10px;
  }
}

.card-buy-token-mercado-secundario-content {
  display: flex;
  justify-content: space-between;
  padding: 0px;

  .content-1 {
    display: inline-block;
    padding: .375rem 0;
  }
}

.rating-card-group {
  margin-top: 220px;
}

.rating-card {
  width: 212px;
  height: 100px;
  margin: 10px;
  border-radius: 8px;
  background-color: white;
  padding: 14px;
  text-align: center;
  color: black;
  box-shadow: 0 2px 10px 0 #33333333;
  h2{
    font-size: 14px;
    }

  &:hover {
    //box-shadow: 0 0px 8px 0 #fdec01f3;
  }
}
p {
  font-size: 12px;
}
.rating-card-content {
  margin: 10px;
}

.card-show-token {
  background-color: #fff;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 5px 9px 0 #33333370;
}
.card-container{
  align-items: center;
  margin-left: 100px;
}

.card {
  border-radius: 8px;
}


.h1-show{
  //font-size: 21px;
  //ont-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.9px;
  color: #172a41;
  //display: -webkit-box;
  //display: -webkit-flex;
  //display: -ms-flexbox;
  display: flex;

}

.card-wallet {
  width: 100%;
  padding-top: 20px;
}

.card-wallet-content {
  position: relative;
  border-radius: 12px;
  height: 100px;
  text-align: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0 1px 7px 0 #555353cc;
}


.card-wallet-mark {
  position: absolute;
  top: -5px;
  left: 26px;
  width: 60px;
  height: 10px;
  background-color:  #fdec01f3;
  border-radius: 2px;
}


.card-wallet-mark-1 {
  position: absolute;
  top: -5px;
  left: 26px;
  width: 60px;
  height: 10px;
  background-color:  #fdec01f3;
  border-radius: 2px;

}

.card-wallet-mark-2 {
  position: absolute;
  top: 94px;
  left: 1030px;
  width: 60px;
  height: 10px;
  background-color:  #fdec01f3;
  border-radius: 2px;
}

.h2-show{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: 20px;
    h2{
      font-size: 14px;
      }

    .h2-1-show{
      display: grid;
      grid-row-gap: 4px;
    }
    .h2-2-show{
      font-size: 14px;
      font-weight: bold;
      line-height: 1.33;
      letter-spacing: 0.5px;
      color: #333333;

    }

    .h2-3-show{
      font-size: 14px;
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: 0.5px;
      color: #627d98;
    }
}

.img-show {
  object-fit: contain;
  object-position: right;
}

img {
  border-style: none;

}

.star-show{
    grid-column: 2/span 6;
    padding: 28px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 #33333333;
}
.star-rating{
  grid-column: 2/span 6;
    padding: 28px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 #33333333;
}

.star-rating-titlle{

  display: flex;
  margin: 0;
  color: #394e66;
  font-weight: bold;
  font-size: 14px;
  //font-family: museo-sans-condensed;
  line-height: 1.33;
  letter-spacing: 1px;
  text-transform: uppercase;
  h6{
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
.star-rating-subtitle{
  margin: 0;
  color: #293b51;
  font-size: 32px;
  font-family: 'Graphik';
  line-height: 1.33;
  letter-spacing: 3px;
  h3{
    display: block;
    font-size: 14px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    //font-weight: bold;
  }

}
.rating-stars{
  font-size: 45px;
  color: gold;


}

.card-body {
  box-shadow: 0 1px 8px 0 #555353cc;
  border-radius: 6px;

  .card-text {
    text-decoration: none;
    color: black;
  }

  &:hover {
    color: black
  }
}

.card-body {
  &:hover {
    box-shadow: 0 0px 8px 0 #fdec01f3;
  }
}

.sector {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #627d9812;

  p{
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0;
  }

  &:hover {
    box-shadow: 0 0px 8px 0 #fdec01f3;
  }
}

.sector:hover {
  .eua {
    color: blue;
  }
}

.sector:hover {
  .gam {
    color: rgb(143, 143, 151);
  }
}

.sector:hover {
  .fin {
    color: rgba(13, 141, 41, 0.637);
  }
}

.sector:hover {
  .com {
    color: red;
  }
}

.sector:hover {
  .agro {
    color: rgb(42, 133, 39);
  }


}


.card-about {

  h4{
    text-align: center;
    font-size: 50px;
    align-items: center;
    margin: 0;
  }

  border-radius: 6px;

  .card-text {
    text-decoration: none;
    text-align: center;
    color: black;

  }

  .rounded-circle{
  align-items: center;
  }

  h6{
    text-align: center;
    font-size: 18px;
    align-items: center;
    margin: 0;
  }

  p{
    font-size: 15px;
    align-items: center;
    margin: 0;
  }

}
