body{
  font-family: Graphik;
}

h4{
  font-family: Graphik;
}

h1,h2, h5{
  font-family: Graphik;
  color: black;
}

.home-info{
  display: flex;
  //max-height: 200px;
  //max-width: 100%;
  height:auto;
  
}

.home-image{
  width: 43%;
  height: 40%;
}

.home-text{
  padding: 12px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //align-content-center d-flex flex-wrap justify-content-center
  font-family: "Graphik-Medium", "Graphik-Regular", "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  h2{
    font-size: 1.875rem;

  }
  a {
  text-decoration: none;
  color: #d2c747;
  font-family: 'Graphik';
  font-size: 1.125rem;

  }
  h4{
    font-size: 1.125rem;

  }
  text-align: center;
}

p{
  font-size: 14px;
}


.home-gif{
  align-items: center;
  display: flex;
  height:auto;
}
