body{
  font-family: Graphik;
}

h4{
  font-family: Graphik;
}

h1,h2, h5{
  font-family: Graphik;
  color: black;
}

.home-info{
  display: flex;
  //max-height: 200px;
  //max-width: 100%;
  height:auto;
}

.home-image{
  width: 43%;
  height: 40%;
  background-color: white;
}

.home-text{
  padding: 12px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //align-content-center d-flex flex-wrap justify-content-center
}

p{
  font-size: 14px;
}


.home-gif{
  align-items: center;
  display: flex;
  height:auto;
}
