.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: 16px;
  padding: 12px;
  font-family: 'Montserrat', san-serif;
  justify-content: center;
  color: #111;
  font-weight: 500;
  text-align: center;
  display: flex;
  //box-shadow: 0 0px 10px 0 #404040bd;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;



}

.navbar-lewagon .navbar-brand img {
  //width: 40px;
}
