.css-showcard {
  padding: 24px;
  display: grid;
  grid-row-gap: 20px;
}
.css-1eoy87d {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.css-php09l {
  display: grid;
  grid-row-gap: 12px;
}
