// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

//Geocode
@import "mapbox-gl/dist/mapbox-gl";

a {
  text-decoration: none;
  color: #d2c747;
  font-family: 'Graphik';

}

a:hover{
  color: #7c7c73;
}
